@font-face {
    font-family: 'Roboto-Medium';
    src: url('Font/Roboto-Medium.ttf') format('woff'); 
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('Font/Roboto-Bold.ttf') format('woff'); 
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('Font/Roboto-light.ttf') format('woff'); 
}

body {
    font-family: 'Roboto';
    color: black;
    font-family: Arial, sans-serif;
    background-image: url('Assets/Texture.png'); /* Sostituisci con il percorso corretto dell'immagine di texture */
    background-repeat: repeat; /* Ripeti l'immagine orizzontalmente e verticalmente */
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 48px;
    font-family: 'Roboto-Bold';
}

h2 {
    font-size: 32px;
    font-family: 'Roboto-Medium';
}

p {
    line-height: 1.4;
    font-size: 20px;
    font-family: 'Roboto-Light';
}

header {
    background-color: #fff; /* Cambia il colore di sfondo secondo le tue preferenze */
    height: 60px; /* Altezza dell'header, puoi regolarla a tuo piacimento */
    display: flex;
    padding-left: 100px;
    align-items: center; /* Per centrare verticalmente l'immagine */
}

footer {
    text-align: center;
    padding-top: 100px;
}

.box {
    text-align: center;
    padding-top: 50px;
}
/* Stile per il logo */
.logo img {
    width: 50px; /* Larghezza dell'immagine, personalizzala in base al tuo logo */
    height: auto; /* L'altezza si adatterà in modo proporzionale alla larghezza */
    margin-left: 20px; /* Aggiunge un margine a sinistra dell'immagine, personalizzalo secondo le tue preferenze */
}

.banner {
    background-image: none; /* Rimuovi lo sfondo dell'immagine del banner */
    display: flex; /* Utilizza la disposizione flessibile */
    align-items: center; /* Allinea verticalmente il contenuto del banner */
    color: black; /* Colore del testo sul banner, personalizzalo secondo le tue preferenze */
    text-align: left;
    margin: 100px;
}

/* Stile per il testo all'interno del banner */
.banner-text {
    width: 300px;
    flex: 2; /* Fa espandere il testo a sinistra per occupare lo spazio rimanente */
}

.banner-img img {
    margin-left: 100px;
    text-align: center;
    width: 600px; /* Imposta la larghezza al 100% per coprire tutto il banner */
}

.highlight {
    line-height: 1.5;
    font-family: 'roboto-bold';
    background-color: #000; /* Colore di sfondo nero */
    color: #fff; /* Colore del testo bianco */
    padding: 2px; /* Spaziatura interna per il testo con sfondo nero */
}

/* Stile per il bottone con bordi arrotondati */
.rounded-button {
    background-color: #d47fff; /* Colore di sfondo del pulsante, personalizzalo secondo le tue preferenze */
    color: #fff; /* Colore del testo del pulsante */
    margin-top: 10px;
    border: none; /* Rimuove il bordo predefinito del pulsante */
    border-radius: 50px; /* Imposta i bordi arrotondati */
    padding: 10px 20px; /* Spaziatura interna del pulsante, personalizzala secondo le tue preferenze */
    cursor: pointer; /* Cambia il cursore quando si passa sopra il pulsante */
    
}

/* Stile per il bottone quando si passa sopra di esso */
.rounded-button:hover {
    background-color: #FFE5E5;
    color: black; /* Colore di sfondo del pulsante al passaggio del mouse */
}
.title {
    text-align: center;
    margin-top: 250px;
    margin-bottom: 100px;
}

/* Stile per la sezione con immagine e testo */
.image-section {
    text-align: center;
    margin-top: 50px;
    display: flex;
    align-items: center; /* Per centrare verticalmente il contenuto */
}

/* Stile per l'immagine */
.image img {
    text-align: right;
    max-height: 400px;
    max-width: 100%; /* Imposta una larghezza massima per l'immagine in modo che sia responsive */
    height: auto; /* L'altezza si adatterà in modo proporzionale alla larghezza */
}

/* Stile per la parte di testo */
.text {
    text-align: left;
    padding: 50px; /* Spaziatura interna intorno al testo */
}

.page-content {
    padding-left: 200px;
    padding-right: 200px;
}
